<div style="border: 3px solid red; padding: 20px; border-radius: 20px">
  <p style="margin-top: 0; padding: 10px">
    <strong>
      There are currently more important things than this page.
      Please take a moment to show your support for Ukraine.
    </strong>
  </p>

  <figure>
    <img src="/support-ukraine.svg" alt="Ukrainian flag with dove and text: SUPPORT UKRAINE END WAR">
  </figure>

  <p style="font-weight: bold; text-align: center; color: red; margin-bottom: 0">
    <a class="btn" style="color: red; border-color: red; display: block; padding: 0" href="https://supportukrainenow.org" target="blank">
      Find out how YOU can help!
    </a>
  </p>

</div>
